<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/css/menu.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Menu</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="mainMenuContainer">
    <div class="logoFTI">
      <img src="/static/img/LogoFTI.png" alt="LOGO FTI">
    </div>
    <div class="judulSkripsi">
      <p class="judulText">Prediksi Indeks Prestasi Mahasiswa Tingkat Persiapan Teknik Informatika Untar Menggunakan Support Vector Regression</p>
    </div>
    <div class="buttonContainer">
      <button class="button" onclick="window.location.href='/predict'">Prediksi IPK Mahasiswa TI</button><br>
      <button class="button" onclick="window.location.href='/train'">Train Model Baru</button>
    </div>
    <div class="authorContainer">
      <p class="authorText">2024 - Kelvin Ferdinand 535210027</p>
    </div>
  </div>
</body>
</html>